{"swagger":"2.0","info":{"description":"阿福管家接口测试","version":"1.0.0","title":"afguanjia"},"host":"www.afgj.com","basePath":"/v2","tags":[{"name":"neighbour","description":"友邻接口","sortWeight":0},{"name":"user","description":"用户接口","sortWeight":0},{"name":"Site","description":"公共接口","sortWeight":0},{"name":"community","description":"社区接口","sortWeight":0},{"name":"vote","description":"投票接口","sortWeight":0}],"schemes":[],"consumes":[],"produces":[],"paths":{"/community/contacts":{"get":{"tags":["community"],"summary":"社区通讯录","description":"社区通讯录","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"loupan","in":"query","description":"楼盘ID","required":true,"type":"integer","default":"","format":"int32"},{"name":"page","in":"query","description":"第几页默认1","required":false,"type":"integer","default":"1","format":"int32"},{"name":"per-page","in":"query","description":"每页数默认20","required":false,"type":"integer","default":"20","format":"int32"},{"name":"keywords","in":"formData","description":"搜索关键字","required":false,"type":"string","default":"","format":""}],"responses":{"404":{"description":"用户不存在","sortWeight":0},"200":{"description":"成功操作","sortWeight":0},"401":{"description":"参数异常","sortWeight":0}},"sortWeight":0}},"/neighbour/appeal":{"post":{"tags":["neighbour"],"summary":"投诉友邻","description":"投诉友邻","schemes":["http"],"consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"userId","in":"formData","description":"待投诉用户ID","required":true,"type":"integer","default":"","format":"int32"},{"name":"content","in":"formData","description":"投诉详情","required":true,"type":"string","default":"","format":""}],"responses":{"404":{"description":"用户不存在","sortWeight":0},"200":{"description":"成功操作","sortWeight":0},"401":{"description":"参数异常","sortWeight":0}},"sortWeight":0}},"/neighbour/index":{"get":{"tags":["neighbour"],"summary":"我的友邻列表","description":"已关注邻居列表信息","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"成功操作","sortWeight":0},"401":{"description":"参数异常","sortWeight":0}},"sortWeight":0}},"/neighbour/remarks":{"post":{"tags":["neighbour"],"summary":"修改友邻备注","description":"修改友邻备注","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"formData","description":"","required":true,"type":"integer","default":"","format":"int32"},{"name":"content","in":"formData","description":"","required":true,"type":"string","default":"","format":""}],"responses":{"200":{"description":"操作成功","sortWeight":0},"401":{"description":"参数异常","sortWeight":0},"400":{"description":"用户不存在","sortWeight":0}},"sortWeight":0}},"/neighbour/view":{"get":{"tags":["neighbour"],"summary":"友邻详细信息","description":"获取友邻详细信息","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"query","description":"","required":true,"type":"integer","default":"","format":"int32"}],"responses":{"404":{"description":"Order not found","sortWeight":0},"200":{"description":"成功操作","sortWeight":0},"401":{"description":"Unauthorized","sortWeight":0},"400":{"description":"Invalid ID supplied","sortWeight":0}},"sortWeight":0}},"/site/signupmobile":{"post":{"tags":["Site"],"summary":"检测用户","description":"根据手机号检测用户是否存在","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"mobile","in":"formData","description":"","required":true,"type":"string","default":"","format":""}],"responses":{"409":{"description":"参数有误","sortWeight":0},"200":{"description":"成功操作","sortWeight":0},"401":{"description":"该手机号已存在","sortWeight":0}},"sortWeight":0}},"/user/follow":{"get":{"tags":["user"],"summary":"关注","description":"用户关注指定邻居","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"query","description":"","required":true,"type":"integer","default":"","format":"int32"}],"responses":{"200":{"description":"成功操作","sortWeight":0},"401":{"description":"参数异常","sortWeight":0}},"sortWeight":0}},"/user/info":{"get":{"tags":["user"],"summary":"用户信息","description":"获取用户信息,默认获取当前登录用户,也可以获取指定用户信息","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"query","description":"","required":true,"type":"integer","default":"","format":"int32"}],"responses":{"404":{"description":"Order not found","sortWeight":0},"200":{"description":"成功操作","sortWeight":0},"401":{"description":"Unauthorized","sortWeight":0},"400":{"description":"Invalid ID supplied","sortWeight":0}},"sortWeight":0}},"/user/unfollow":{"get":{"tags":["user"],"summary":"取消关注","description":"用户取消关注指定邻居","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"userId","in":"query","description":"","required":true,"type":"integer","default":"","format":"int32"}],"responses":{"200":{"description":"成功操作","sortWeight":0},"401":{"description":"参数异常","sortWeight":0}},"sortWeight":0}},"/vote/result":{"get":{"tags":["vote"],"summary":"投票结果展示","description":"投票结果展示","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"成功操作","sortWeight":0},"401":{"description":"id参数不能为空","sortWeight":0}},"sortWeight":0}},"/vote/view":{"get":{"tags":["vote"],"summary":"投票信息详情","description":"投票信息详情","schemes":["http"],"consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"query","description":"","required":true,"type":"integer","default":"","format":"int32"}],"responses":{"404":{"description":"投票信息未找到","sortWeight":0},"200":{"description":"成功操作","sortWeight":0},"401":{"description":"id参数不能为空","sortWeight":0},"403":{"description":"当前用户账户冻结","sortWeight":0}},"sortWeight":0}}},"definitions":{}}