<ion-view view-title="海豚计划">
    <ion-nav-buttons side="left">
        <button class="button icon ion-ios-arrow-left button-clear button-positive" ng-click="goBack()"></button>
    </ion-nav-buttons>

    <ion-content class="grey">
        <div style="background-color: #fff">
            <div class="brand-hall brand-promotion" style="margin:5px 12px 20px">
                <h4 style="text-align: center;font-weight: bold;margin: 0px auto 40px;padding-top: 10px">2016年绿城东方公司海豚计划南京专场</h4>
                <img class="promotion-top-banner"
                     src="http://pub.huilaila.net/message/dolphin-info/图片1.png">
                <div class="content">
                    <p class="content-article">
                        暑期学游泳是当下热门话题，相信很多家长都有共识，培训费用可不低。然而，绿城却不惜成本，在全国绿城园区全面免费开展海豚计划！这场盛大的免费游泳培训公益活动缘起于宋卫平董事长一个朴素的愿望，那就是“让住在绿城园区里的小业主都学会游泳，避免溺水事件的发生。”
                    </p>
                    <p class="content-article" style="margin-bottom: 20px">
                        2016年绿城东方公司海豚计划南京专场正式启动，这个夏天，带着你的孩子一起来游泳吧！
                    </p>
                    <img class="promotion-top-banner" style="padding: 0 12px"
                         src="http://pub.huilaila.net/message/dolphin-info/图片2.png">
                    <p class="content-article">
                        极致关怀，清凉感恩！这个夏天，你一定不能错过的精彩，便是绿城东方公司专门针对绿城小业主量身打造的游泳培训，这也将是绿城东方公司规模最大的一次海豚计划。
                    </p>
                    <p class="content-article">
                        南京4盘合力暑期献清凉，届时年龄在5-12周岁且不会游泳的绿城小业主都能进行免费游泳培训，让孩子们快乐遨游，我们就等你来！
                    </p>
                    <p class="content-article" style="margin-bottom: 20px">
                        培训时间为7月下旬至8月初，活动地点在庐山路116号辉盛阁酒店游泳馆。如有不详，业主们可通过联系销售顾问或拨打各项目售楼处电话了解活动详情，赶紧为孩子们报名吧。
                    </p>
                    <img class="promotion-top-banner" style="padding: 0 12px"
                         src="http://pub.huilaila.net/message/dolphin-info/图片3.png">
                </div>
                <div class="content">
                    <div class="content-article">
                        <p class="content-article-title">
                            8年，50余城，8万余只“小海豚”
                        </p>
                        <p class="content-article-title" style="margin-bottom: 15px">
                            海豚计划获100%业主满意度
                        </p>
                        <p class="content-article-content">
                            从2009年开始正式启动，绿城海豚计划至今已有八年之久，截至目前已覆盖50余座城市，为超过8万人次的绿城小业主和员工子女提供了免费的游泳培训。
                        </p>
                        <p class="content-article-content">
                            让越来越多绿城家庭因为孩子的健康而感到幸福，在这八年期间，海豚计划作为绿城园区生活服务体系的重要载体，在保障“小海豚”安全的情况下，做好服务，帮助他们提升身体素质，培养良好习惯的同时又真正落实到位宋总当时的朴素初衷，绿城人不遗余力，努力做到极致，在精力上的投入成本远高于经济投入成本也毫无抱怨。“业主100%满意”、“周到的人文关怀”、“被公众认可的社会价值”……众多标签也足以说明海豚计划的成功。
                        </p>
                        <img class="promotion-top-banner"
                             src="http://pub.huilaila.net/message/dolphin-info/图片4.png">
                    </div>
                </div>
                <div class="content">
                    <div class="content-article">
                        <p class="content-article-title">
                            会游泳的人，世界观不同
                        </p>
                        <p class="content-article-title" style="margin-bottom: 15px">
                            海豚计划培养的是技能，更是担当
                        </p>
                        <p class="content-article-content">
                            在绿城物业服务体系中，教育是很重要的一部分，如社区图书馆、颐乐学院的设立，海豚计划除了游泳技能的传授外，也承担了教育的功能。正如绿城创始人宋卫平先生所说：“会游泳的人，世界观不同。”通过海豚计划，小朋友们除了掌握游泳技能外，更能从中培养起一种奋勇向前、顽强拼搏的精神。海豚计划，不仅逐渐固化为绿城的“标配”，也成为绿城独具一格的鲜明标识之一。
                        </p>
                        <img class="promotion-top-banner"
                             src="http://pub.huilaila.net/message/dolphin-info/图片5.png">
                        <img class="promotion-top-banner"
                             src="http://pub.huilaila.net/message/dolphin-info/图片6.png">
                    </div>
                </div>
                <div class="content">
                    <div class="content-article">
                        <p class="content-article-title" style="margin-bottom: 15px">
                            绿城东方公司简介：
                        </p>
                        <p class="content-article-content">
                            绿城东方，是绿城集团在华东的区域公司，致力于做“美好生活综合服务商”，从2011年成立以来，目前在南京、苏州、徐州、镇江、无锡、湖州、大理等城市拥有数十个项目，囊括了城市别墅、高端公寓、城市综合体、度假小镇、保障房建设等多品类业态。代建的岱山保障房项目，获得了国内房地产开发领域的最高荣誉“广厦奖”；在南京老山脚下打造的玫瑰园项目，连续多年蝉联千万级别墅销售冠军。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
