<ion-view view-title="{{items.title}}">
  <!-- 顶部 -->
  <ion-nav-buttons side="left">
      <button class="button icon ion-ios-arrow-left button-clear button-positive" ng-click="goBack()"></button>
  </ion-nav-buttons>
    <ion-content>
        <div class="news-list">
          <!-- 信息简介 -->
            <div class="news-info">
                <a class="item item-avatar">
                    <img ng-src="{{items.accountInfo.headimgurl}}" ng-if="items.accountInfo.headimgurl">
                    <h2 style="max-width: 100%;">{{items.title}}</h2>
                    <p class="text" style="color: #8CB7D2;display: block" ng-if="items.account_id > 0">{{items.accountInfo.nickname}}</p>
                    <p class="text" style="color: red;display: block" ng-if="items.admin_id > 0">{{items.accountInfo.nickname}}</p>
                    <p class="date" style="float: left;margin-left: -3%;margin-top: -1%">{{items.publish_time}}</p>
                </a>
            </div>
            <!-- 内容 -->
            <p class="news-article">
                {{items.content}}
            </p>
            <!-- 附件 -->
              <!-- PUTONG -->
            <div class="news-images row row-wrap" ng-if="items.attachment_type == 1"  ng-show="items.attachment_content.length==3||items.attachment_content.length>4">
                <div class="col-33" ng-repeat="keys in items.attachment_content track by $index" ng-if="keys.length > 0">
                    <img style="width:98%" ng-src="{{qiniuDomain + keys}}?imageView2/1/w/200/h/200"
                         ng-click="goto('news-picture', {id:items.id})">
                </div>
            </div>
              <!-- PUTONG -->
            <div class="news-images row row-wrap" ng-if="items.attachment_type == 1" ng-show="items.attachment_content.length==2||items.attachment_content.length==4">
                <div class="col-50" ng-repeat="keys in items.attachment_content track by $index" ng-if="keys.length > 0">
                    <img style="width:98%" ng-src="{{qiniuDomain + keys}}?imageView2/1/w/200/h/200"
                         ng-click="goto('news-picture', {id:items.id})">
                </div>
            </div>
              <!-- PUTONG -->
            <div class="news-images row row-wrap" ng-if="items.attachment_type == 1" ng-show="items.attachment_content.length==1">
                <div class="col" ng-repeat="keys in items.attachment_content track by $index" ng-if="keys.length > 0">
                    <img style="width:98%" ng-src="{{qiniuDomain + keys}}?imageView2/0/w/375"
                         ng-click="goto('news-picture', {id:items.id})">
                </div>
            </div>
            <!-- ARTICLE -->
            <div class="news-images" ng-if="items.attachment_type == 3">
                <img style="width: 98%;height:150px;margin-right: -5px" ng-src="{{qiniuDomain + items.fujian.thumbnail}}"
                     ng-click="goto('news-article', {id:items.attachment_content})">
                <div class="news-images-banner">&nbsp;&nbsp;{{items.fujian.title}}</div>
            </div>
            <!-- 活动附件 -->
            <div class="item item-avatar event-share-content"
            ng-if="items.attachment_type == 5" ng-click="goto('community-zone-event-detail', {'id':items.attachment_content, 'loupan_id':items.loupan_id})">
                <img src="../../assets/css/images/icon_event.png">
                <div class="share-content">
                    <h2>{{items.fujian.name}}</h2>
                    <p>截止日期：<span>{{items.fujian.signup_end}}</span></p>
                    <p>报名人数：<span>{{items.fujian.person_num}}</span></p>
                </div>
            </div>
            <!--投票附件-->
            <div class="item item-avatar event-share-content"
            ng-if="items.attachment_type == 4" ng-click="action.href(items)">
                <img src="../../assets/css/images/icon_vote.png">
                <div class="share-content">
                    <h2>{{items.fujian.title}}</h2>
                    <p>截止日期：<span>{{items.fujian.deadline}}</span></p>
                    <p>投票人数：<span>{{items.voted_person_num}}</span></p>
                </div>
            </div>
            <!-- 评论 -->
            <div class="news-comments">
                <div class="comment-numbers">
                    <span>评论 {{params.commentNum}}</span>
                    <span>赞 {{params.praiseNum}}</span>
                </div>
                <div class="comment-note" ng-repeat="item in list">
                    <div class="comment-icon">
                        <img ng-src="{{item.accountInfo.headimgurl}}" ng-if="item.accountInfo.headimgurl">
                    </div>
                    <div class="comment-detail">
                        <p>
                            <span>{{item.accountInfo.nickname}}</span>
                            <span>{{item.created_at}}</span>
                        </p>
                        <p>
                            {{item.content}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>

    <div class="bar bar-footer">
        <div class="button-bar">
            <a class="button zone-bottom-button" ng-click="action.like(items)">
                <img class="zone-comments-img" src="../../assets/img/icon_upthumb.png" class="like"
                     ng-show="params.isLike">
                <img class="zone-comments-img" src="../../assets/img/icon_thumb.png" class="like"
                     ng-show="!params.isLike">
                <span class="zone-comments-words">赞</span>
            </a>
            <a class="button zone-bottom-button"
               ng-click="action.comment()">
                <img class="zone-comments-img" src="../../assets/img/icon_comment.png">
                <span class="zone-comments-words">评论</span>
            </a>
        </div>
    </div>
</ion-view>
