<ion-view view-title="首页" hide-nav-bar="true">
  <ion-content class="page-home grey">
    <div class="banner-wrap">
        <img src="/assets/img/banner_01.png" alt="" />
    </div>
    <div class="icon-list">
        <div class="icon-item">
            <a class="house-button" ng-click="goto('house-list')">
                <i class="icon color-01 house-icon-01"></i>
                新房
            </a>
            <a class="house-button dis" href="#">
                <i class="icon house-icon-06"></i>
                二手房
            </a>
            <a class="house-button dis" href="#">
                <i class="icon house-icon-06"></i>
                房产金融
            </a>
        </div>
    </div>

    <div class="icon-list">
        <div class="icon-item">
            <a class="house-button" ng-click="goto('soft-decoration')">
                <i class="icon color-02 house-icon-02"></i>
                软装修
            </a>
            <a class="house-button" ng-click="goto('refined-decoration')">
                <i class="icon color-03 house-icon-03"></i>
                精装修
            </a>
        </div>
        <div class="icon-item">
            <a class="house-button" ng-click="goto('service')">
                <i class="icon color-04 house-icon-04"></i>
                维修
            </a>
            <a class="house-button" ng-click="goto('care')">
                <i class="icon color-05 house-icon-05"></i>
                保养
            </a>
            <a class="house-button dis" href="#">
                <i class="icon house-icon-06"></i>
                升级改造
            </a>
        </div>
    </div>

    <div class="icon-list">
        <div class="icon-item">
            <a class="house-button dis" href="#">
                <i class="icon house-icon-06"></i>
                快乐生活
            </a>
            <a class="house-button dis" href="#">
                <i class="icon house-icon-06"></i>
                线上社区
            </a>
            <a class="house-button dis" href="#">
                <i class="icon house-icon-06"></i>
                健康管理
            </a>
        </div>
    </div>
  </ion-content>
</ion-view>
