<ion-view view-title="服务">
    <ion-nav-buttons side="left">
        <button class="button icon ion-ios-arrow-left button-clear button-positive" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content class="page-service grey">
        <div class="row-wrap" style="margin-top: 0;border-bottom:1px solid #dae4e9;">
            <div class="row">
                <div class="col-15 col-main-left">
                    <img src="../../assets/css/images/service_estate.png">
                </div>
                <div class="col-90 col-main-right" style="border-bottom: 1px solid #dae4e9;">房产4S服务</div>
            </div>
            <div class="row" style="margin: 0 auto;text-align: center">
                <div class="col col-33">
                    <img style="display:inline-block;max-width:40px;height:71px;" src="../../assets/css/images/icon_service01.png" ng-click="goto('decoration-list', {'id':2})">
                </div>
                <div class="col col-33">
                    <img style="display:inline-block;max-width:40px;height:71px;" src="../../assets/css/images/icon_service02.png" >
                </div>
                <div class="col col-33">
                    <img style="display:inline-block;max-width:40px;height:71px;" src="../../assets/css/images/icon_service03.png">
                </div>
            </div>
            
        </div>
        <div class="row-wrap">
            <div class="row">
                <div class="col-15 col-main-left">
                    <img src="../../assets/css/images/service_life.png" style="height: 24px">
                </div>
                <div class="col-90 col-main-right">生活4S服务 <span>敬请期待</span></div>
            </div>
        </div>
        <div class="row-wrap">
            <div class="row">
                <div class="col-15 col-main-left">
                    <img src="../../assets/css/images/service_health.png" style="height: 22px">
                </div>
                <div class="col-90 col-main-right">健康4S服务 <span>敬请期待</span></div>
            </div>
        </div>
        <div class="row-wrap">
            <div class="row">
                <div class="col-15 col-main-left">
                    <img src="../../assets/css/images/service_money.png" style="height: 23px">
                </div>
                <div class="col-90 col-main-right">金融4S服务 <span>敬请期待</span></div>
            </div>
        </div>

        <a href="v2/incoming-letter.html">跳转页面</a>
    </ion-content>
</ion-view>
