<ion-view view-title="社区活动详情">
    <ion-nav-buttons side="left">
        <button class="button icon ion-ios-arrow-left button-clear button-positive" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="sales-details">
            <div data-ng-bind-html="item.content"></div>
            <div id="uyan_frame">
                <iframe id="uyan_ifr_3475181" scrolling="no" frameborder="0"
                        style="height: 507px; display: block !important; width: 100% !important; border: 0px none !important; overflow: hidden !important;"
                        src="http://api.v2.uyan.cc/v4/comment/?uid=0&amp;frameid=3475181&amp;du=&amp;su=%2FC%3A%2FUsers%2FDon.T%2FDesktop%2Fhtml_dev%2Ffloor_news_detail.html&amp;pic=&amp;url=file%3A%2F%2F%2FC%3A%2FUsers%2FDon.T%2FDesktop%2Fhtml_dev%2Ffloor_news_detail.html&amp;title=%E4%B8%9C%E6%96%B9%E6%88%BF%E4%BA%A7%E7%AE%A1%E5%AE%B6&amp;t=1460097275440"></iframe>
            </div>
        </div>
    </ion-content>
</ion-view>