<ion-view view-title="绿城厚木">
    <ion-nav-buttons side="left">
        <button class="button icon ion-ios-arrow-left button-clear button-positive" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content style="padding-top: 20px">
        <div class="brand-hall brand-promotion">
            <img class="promotion-top-banner" src="http://pub.huilaila.net/message/brand_promotion/promotion_banner1.png">
            <div class="content">
                <p class="content-title-ch">
                    关于我们
                </p>
                <p class="content-title-en">
                    About Us
                </p>
                <p class="content-article">
                    绿城厚木装饰源承绿城集团精装修管理团队，是绿城集团精装修设计、施工全过程管理及实施团队。公司具有丰富的酒店、会所、别墅、精装修公寓的设计和施工管理经验，其完善的工程实施、维保体系，可高效承接批量化的精装修工程，更可为每一位客户提供高端私人定制服务。
                </p>
                <p class="content-article">
                    近期完成和在建项目：南京玫瑰园、南京桃花源、东方兰园、东方诚园、徐州紫薇公馆、润园、雅园等项目。
                </p>
            </div>
            <div class="content">
                <p class="content-title-ch">
                    核心优势
                </p>
                <p class="content-title-en">
                    CORE STRENGTH
                </p>
                <div class="content-article">
                    <img src="http://pub.huilaila.net/message/brand_promotion/core.png" style="width: 100%">
                </div>
            </div>
            <div class="content">
                <div style="padding: 70px;width:100%;height:150px;background-image:url('http://pub.huilaila.net/message/brand_promotion/classic_work.png');vertical-align: middle ">
                    <p class="content-title-ch">
                        经典作品
                    </p>
                    <p class="content-title-en">
                        CLASSIC WORKS
                    </p>
                </div>
                <div class="content-article">
                    <p style="font-size: 15px;font-weight: bold;color:#000;text-align: center">
                        「 <span style="color: #4a7c15;font-weight: normal">绿城·南京玫瑰园</span> 」
                    </p>
                    <p class="estate-article" style="font-size: 14px;color: #67676f">
                        绿城南京玫瑰园，南京顶级豪宅的标杆作品。
                    </p>
                    <img src="http://pub.huilaila.net/message/brand_promotion/4.png" style="width: 100%">
                    <img src="http://pub.huilaila.net/message/brand_promotion/5.png" style="width: 100%">
                    <img src="http://pub.huilaila.net/message/brand_promotion/6.png" style="width: 100%">
                    <img src="http://pub.huilaila.net/message/brand_promotion/7.png" style="width: 100%">
                </div>
                <div class="content-article">
                    <p style="font-size: 15px;font-weight: bold;color:#000;text-align: center">
                    「 <span style="color: #4a7c15;font-weight: normal">绿城·南京桃花源</span> 」
                    </p>
                    <p class="estate-article" style="font-size: 14px;color: #67676f">
                        中国的第三座桃花源。所有别墅均为室内+庭院精装修交付，新中式的装修风格，与室外美景融为一体，别样中国风居住体验。
                    </p>
                    <img src="http://pub.huilaila.net/message/brand_promotion/桃花源_01.jpg" style="width: 100%">
                    <img src="http://pub.huilaila.net/message/brand_promotion/桃花源_02.jpg" style="width: 100%">
                    <img src="http://pub.huilaila.net/message/brand_promotion/桃花源_03.jpg" style="width: 100%">
                    <img src="http://pub.huilaila.net/message/brand_promotion/桃花源_04.jpg" style="width: 100%">
                </div>
            </div>
            <div class="content">
                <p class="content-title-ch">
                    战略合作品牌
                </p>
                <p class="content-title-en">
                    CO BRANDING
                </p>
                <div style="width: 100%;padding: 0 12px">
                    <img src="http://pub.huilaila.net/message/brand_promotion/合作品牌.png" style="width: 100%">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
