<ion-view view-title="品牌馆">
    <ion-nav-buttons side="left">
        <button class="button icon ion-ios-arrow-left button-clear button-positive" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="brand-hall">
            <img style="width: 100%" src="http://pub.huilaila.net/message/brand_hall_banner.png">
            <div class="brand-p-wraper">
                <img class="banner-head" src="../../assets/css/images/brand_hall_profile.png">
                <p class="article-header">
                    LVCHENG DONGFANG <span>| 绿城东方</span></p>
                <div class="brand-p-content">
                    <div class="slash-head"></div>
                    <div class="slash-foot"></div>
                    <img class="line-head" src="../../assets/css/images/brand_hall_line.png">
                    <img class="line-foot" src="../../assets/css/images/brand_hall_line.png">
                    <p>
                        绿城东方建设管理有限公司（以下简称绿城东方公司）成立于2011年7月18日。
                    </p>
                    <p>
                        六年来，公司不断秉承宋卫平董事长“真诚、善意、精致、完美”的企业核心价值观和对产品品质的高标准要求，依托绿城团队多年的房地产开发经验和优质核心资源，逐步建立完善的产品营造、质量控制体系以及房地产延伸价值服务体系。
                    </p>
                </div>
            </div>
            <div class="brand-p-wraper">
                <img class="banner-head" src="../../assets/css/images/brand_hall_building.png">
                <p class="article-header">
                    LVCHENG DONGFANG <span>| 绿城东方</span></p>
                <div class="brand-p-content">
                    <div class="slash-head"></div>
                    <div class="slash-foot"></div>
                    <img class="line-head" src="../../assets/css/images/brand_hall_line.png">
                    <img class="line-foot" src="../../assets/css/images/brand_hall_line.png">
                    <p>
                        自2011年成立以来，绿城东方公司陆续开发或管理项目21个，总建筑面积达556.1万平米，涉及独栋、合院、多层、高层等多种建筑形态，涵盖别墅、城市公寓、休闲度假、养老公寓、城市综合体、青年创意社区、保障房等多种物业。目前在建项目14个，建筑面积309.8万平米，业务分布于南京、苏州、无锡、徐州、镇江、湖州等多个城市，管控项目货值达400亿元。
                    </p>
                </div>
            </div>
            <div class="brand-p-wraper">
                <img class="banner-head" src="../../assets/css/images/brand_hall_extend.png">
                <p class="article-header">
                    LVCHENG DONGFANG <span>| 绿城东方</span></p>
                <div class="brand-p-content">
                    <div class="slash-head"></div>
                    <div class="slash-foot"></div>
                    <img class="line-head" src="../../assets/css/images/brand_hall_line.png">
                    <img class="line-foot" src="../../assets/css/images/brand_hall_line.png">
                    <p>
                        绿城东方公司以“回来啦”社区平台为载体，积极践行美好生活服务商的转型。传承绿城、蓝城原有的园区生活服务体系，重构升级绿城东方公司生活服务体系。整个服务体系以房产4S一站式服务为基石，整合优质生活资源为主体，共建融洽和睦的邻里社群文化为灵魂。最终实现为业主提供健康医疗、文化教育、居家生活、智慧园区、金融理财的全方位极致服务平台和业主自治平台，成为业主的专属管家和信赖伙伴。
                    </p>
                </div>
            </div>
            <div class="brand-p-wraper">
                <img class="banner-head" src="../../assets/css/images/brand_hall_honor.png">
                <p class="article-header">
                    LVCHENG DONGFANG <span>| 绿城东方</span></p>
                <div class="brand-p-content">
                    <div class="slash-head"></div>
                    <div class="slash-foot"></div>
                    <img class="line-head" src="../../assets/css/images/brand_hall_line.png">
                    <img class="line-foot" src="../../assets/css/images/brand_hall_line.png">
                    <p>
                        历经六年发展，绿城东方公司在江苏房地产市场稳占一席之地，在别墅、公寓、保障房等领域，均达到该类型项目的第一品级。
                    </p>
                    <p>
                        绿城东方公司代建的岱山保障房项目5号地块荣获2014年“广厦奖”，是江苏省首个获此殊荣的保障房小区。
                    </p>
                    <div class="p-content-detail">
                        <img src="../../assets/css/images/brand_hall_future_detail1.png">
                    </div>
                    <p>
                        备注：“广厦奖”由住建部颁发，经国务院批准设立的国家级房地产奖、行业内最权威的房地产奖项评选，相当于鲁班奖、梁思成奖、詹天佑奖，代表房地产综合开发行业的最高荣誉。
                    </p>
                    <p>
                        绿城南京玫瑰园项目荣获世界建筑界的奥斯卡大奖-金块奖（非商业奖项）“最佳国际项目”
                    </p>
                    <div class="p-content-detail">
                        <img src="../../assets/css/images/brand_hall_future_detail2.png">
                    </div>
                    <p>
                        备注：“金块奖” 建筑界的奥斯卡由PCBC（太平洋建筑协会）组织发起的“金块奖”，作为地产界每年一度的顶级盛事。这是目前在全世界建筑艺术大奖中规模最大的奖项，被赞誉为全球建筑界的“奥斯卡”。
                    </p>
                </div>
            </div>
            <div class="brand-p-wraper">
                <img class="banner-head" src="../../assets/css/images/brand_hall_future.png">
                <p class="article-header">
                    LVCHENG DONGFANG <span>| 绿城东方</span></p>
                <div class="brand-p-content">
                    <div class="slash-head"></div>
                    <div class="slash-foot"></div>
                    <img class="line-head" src="../../assets/css/images/brand_hall_line.png">
                    <img class="line-foot" src="../../assets/css/images/brand_hall_line.png">
                    <p>
                        作为脚踏实地的人文理想主义践行者，绿城东方公司将时刻以品质为责任，以服务为价值，以对他人和对社会有益为宗旨，深入挖掘企业品牌和管理所蕴含的价值，在实现企业持续健康发展的同时，不断为员工创造平台，为客户创造价值，为社会创造文明、和谐、温馨、优雅的人居文化，为城市和历史留下值得典藏的建筑艺术精品。
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
