<ion-view view-title="社区求助图片浏览" class="black">
    <ion-nav-buttons side="left">
        <button class="button icon ion-ios-arrow-left button-clear button-positive" ng-click="goBack()"></button>
    </ion-nav-buttons>
    <ion-content class="auto-scroll">
        <div class="picture-box">
            <ion-slide-box auto-play="true" slide-interval="4000" delegate-handle="slideimgs" does-continue="true">
                <ion-slide ng-repeat="img in params.imgs">
                    <img class="full-image" ng-src="{{qiniuDomain + img['img']}}"/>
                </ion-slide>
            </ion-slide-box>
        </div>
    </ion-content>
</ion-view>
